<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SkillStack- Verify Page</title>
	<link rel="shortcut icon" href="/img/learnhub.png" type="image/x-icon">
	<script src="https://cdn.tailwindcss.com"></script>
	<!-- FontAwesome 6.2.0 CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
		integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	
	<!-- (Optional) Use CSS or JS implementation -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
		integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
	
<section class="flex items-center justify-center w-100 h-[100vh]">
  <div class="container mx-auto flex p-5 items-center justify-center flex-col">
    <img class="lg:w-2/6 md:w-3/6 w-5/6  object-cover object-center rounded" alt="hero" src="/img/confirmation.svg">
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Thank you for signing up for Skillstack !</h1>
	  <p class="mb-8 md:mb-4 leading-relaxed"> To activate your account, please verify your email address by Clicking link we provided in your Mail</p>
        <a href="/" class="inline-flex cursor-pointer items-center gap-2 text-black bg-green-400 border-0 py-2 px-6 focus:outline-none rounded text-lg"> Return To Main <i class="fas fa-arrow-right-to-bracket"></i></a>

    </div>
  </div>
</section>
</body>
</html>